<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Made by Alk - Admin</title>
        <meta name="description" content="Sami Alkharrat started Made By Alk, a graphic designer based in the Twin Cities catering specifically to small martial arts businesses as well as other small business owners."/>
        <link rel="stylesheet" href="../static/css/styles.css"/>
        <link rel="icon" type="image/x-icon" href="../static/images/made_by_alk_web.ico">
        <link rel="mask-icon" type="image/png" href="../static/images/made_by_alk_web.png">
        <link rel="apple-touch-icon" type="image/png" href="../static/images/made_by_alk_web.png">
        <script src="../static/js/admin.js" defer></script>
    </head>
    <body>
        <header class="container">
            <div class="bar">
                <button class="navbutton"></button>
                <img id="logo" src="../static/images/made_by_alk_full.png" width="310px" height="80px">
            </div>
            <hr class="navline">
            <div class="navitems hidden">
                <ul id="nav">
                    <li><a href="/">HOME</a></li>
                    <br>
                    <li><a href="/contact">CONTACT</a></li>
                    <br>
                    <li><a href="/portfolio">PORTFOLIO</a></li>
                </ul>
            </div>
        </header>
        <section class="container" id="pluh" style="background-image: url('../static/images/form_pattern.png'); height: 1200px; background-size: 50%;">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Files</th>
                </tr>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td><a href="{{ customer.file_path }}">Download File</a></td>
                </tr>
                {% endfor %}
            </table>
        </section>
        <section class="container" style="height: 50px; background-color: black;">
            <h6 style="color: white; padding: 1.2rem;">Copyright © 2025 Made By Alk. All rights reserved.</h6>
        </section>
    </body>
</html>