<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Made by Alk</title>
        <meta name="description" content="Sami Alkharrat started Made By Alk, a graphic designer based in the Twin Cities catering specifically to small martial arts businesses as well as other small business owners."/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/made_by_alk_web.ico') }}">
        <link rel="mask-icon" type="image/png" href="{{ url_for('static', filename='images/made_by_alk_web.png') }}">
        <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='images/made_by_alk_web.png') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <header class="container">
            <div class="bar">
                <button class="navbutton"></button>
                <img id="logo" src="{{ url_for('static', filename='images/made_by_alk_full.png') }}" width="310px" height="80px">
            </div>
            <hr class="navline">
            <div class="navitems hidden" aria-expanded="false" aria-controls="navigation-menu">
                <ul id="nav">
                    <li><a href="/">HOME</a></li>
                    <br>
                    <li><a href="/contact">CONTACT</a></li>
                    <br>
                    <li><a href="/portfolio">PORTFOLIO</a></li>
                </ul>
            </div>
        </header>
        <section class="container">
            <div class="highlights">
                <div class="highlights-left">
                    <span id="highlight-text">CLEAN<br>CUSTOM<br>APPAREL</span>
                    <button onclick="window.location.href='/portfolio'" class="redirect" id="b1">LEARN MORE</button>
                </div>
                <ul id="slider-buttons">
                    <li><button class="slider selected" id="SLIDE_1"></button></li>
                    <li><button class="slider" id="SLIDE_2"></button></li>
                    <li><button class="slider" id="SLIDE_3"></button></li>
                </ul>
            </div>
        </section>
        <hr class="secline">
        <section class="container" style="background-color: black">
            <div style="padding: 2.8rem;">
                <span id="about-me">ABOUT ME</span>
                <br>
                <div class="about-me-content">
                    <img id="about-me-photo" src="../static/images/about-me-image.webp">
                    <h5 id="about-me-text">
                        <span style="font-size: 30px;">Hi! I'm Sami Alkharrat</span>
                        <br><br><br>
                        I'm an 18-year-old graphic designer and professional martial artist from Los Gatos, California, 
                        now based in the Twin Cities. I discovered my passion for graphic design while attending Los Gatos High School 
                        and am currently pursuing a B.S. in Computer Science at the University of Minnesota.
                        <br><br>
                        I've been training in martial arts since 2018 and have competed on the NASKA circuit for the 
                        past two years. In 2022, I started my journey in graphic design and soon realized I could merge 
                        both passions to give back to the martial arts community. My goal is to help school owners strengthen 
                        their brand with clean, visually appealing designs that make a lasting impression.
                        I also work with small business owners beyond the martial arts industry, creating designs that help their brands stand out.
                    </h5>
                </div>
            </div>
        </section>
        <hr class="secline">
        <section class="container" id="contactme" style="height: 400px;">
            <span style="font-size: 40px; text-align: center; margin: 0rem 2rem;">NEED A DESIGN JOB DONE?</span>
            <h4 style="padding-top: 10px;">FILL OUT THE FORM.</h4>
            <button class="redirect" id="b2" onclick="window.location.href='/contact'">CONTACT ME</button>
        </section>
        <section class="container" style="height: 50px; background-color: black;">
            <h6 style="color: white; padding: 1.2rem;">Copyright © 2025 Made By Alk. All rights reserved.</h6>
        </section>
    </body>
</html>